.section {
  padding: 3em;
  min-height: 1000px;
  &--1 {
    background-color: lightcyan;
  }
  &--2 {
    background-color: lightslategrey;
  }
}

.indicator {
  background-color: darkcyan;
  color: white;
  padding: 1em;
  margin: 1em 0 30em;
}

.target {
  position: relative;
  width: 160px;
  .inner-counter {
    position: absolute;
    top: 49%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 50px;
    color: rgba(white,1);
    .sign {
      color: rgba(white,0.5);
      font-size: 20px;
    }
  }
}

#targetElement {

}