html {
  @include mq($until: b1) {
    font-size: 12px;
  }
  @include mq($from: b1, $until: b2) {
    font-size: 14px;
  }
  @include mq($from: b2, $until: b3) {
    font-size: 16px;
  }
  @include mq($from: b3) {
    font-size: 20px;
  }
}


h1 {font-size: 2rem;}
h2 {font-size: 1.6rem;}
h3 {font-size: 1.2rem;}
p  {font-size: 1rem;}

h1, h2, h3, p {
  line-height: 1;
  margin: 0;
}


.box {
  font-size: 2em;
  padding: 1em;
  border: 1px solid grey;
  margin-bottom: 2rem;
}

.scale {
  margin-bottom: 1em;
  background:  #eee;
  padding: 1em;
}
.rem {
  .parent {
    font-size: 2rem;
    .child {
      font-size: 2rem;
    }
  }
}

.em {
  .parent {
    font-size: 2rem;
    .child {
      font-size: 2em;
    }
  }
}
